# WEB SCRAPING FROM INDEED USING BEAUTIFUL SOUP

## 1. LOAD LIBRARIES

In [1]:
import pandas as pd                                             # For reading data
from bs4 import BeautifulSoup                                   # For scraping websites
import requests                                                 # To get website
import time                                                     # To make sure that system doesnt hang due to large data
import csv                                                      # to create csv file
import os                                                       # to check status of specific path

In [2]:
url = requests.get("https://au.indeed.com/jobs?q=data%20science&l&advn=6804915630397510").text
soup = BeautifulSoup(url, 'lxml')

## 2. EXTRACT DATA
In every page, 'Job Title','Company', 'Location', 'Job Details', 'Salary' are extracted for each job. HTML tags are used for
extraction. NA's are used if the field is missing to prevent crashing. Here 975 job details are extracted.

In [3]:
pages = [0,10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180,190,200,210,220,230,240,250,260,270,280,290]

with open('C:/Users/Asha Sanjeev Kurup/Desktop/Portfolio/Data_science_jobs.csv', 'a', encoding='utf-8', newline='') as f_output:
    csv_print = csv.writer(f_output)
    file_is_empty = os.stat('C:/Users/Asha Sanjeev Kurup/Desktop/Portfolio/Data_science_jobs.csv').st_size == 0
    if file_is_empty:
        csv_print.writerow(['Job Title','Company', 'Location', 'Job Details', 'Salary'])
        
    for page in pages:
        url = requests.get("https://au.indeed.com/jobs?q=data+science&start={}".format(page)).text
        soup = BeautifulSoup(url, 'lxml')

        for jobs in soup.find_all(class_='result'):
            try:
                title = jobs.find('div', class_='title').text.strip()
            except Exception as e:
                title = None
            

            try:
                company = jobs.find('span',class_='company').text.strip()
            except Exception as e:
                company = None
            

            try:
                location = jobs.find('div',class_="location accessible-contrast-color-location").text.strip()
            except Exception as e:
                location = None
            

            try:
                job_details = jobs.find('div', class_='summary').text.strip()
            except Exception as e:
                job_details = None
            

            try:
                salary = jobs.find('span', class_="salaryText").text.strip()
            except Exception as e:
                salary = None
            
            
            csv_print.writerow([title,company,location,job_details,salary])

            

            time.sleep(2)

## 3. DISPLAY DATA

In [4]:
job_data = pd.read_csv("Data_science_jobs.csv")
job_data.head()

,Job Title,Company,Location,Job Details,Salary
0,Xilinx Field Applications Engineers,Avnet,Melbourne Eastern Suburbs VIC,Bachelor or Masters inElectronic Engineering o...,NaN
1,Cropping manager,D & J Rich,Bordertown SA,Gather relevant data and maintain records of c...,"$55,000 a year"
2,Medical Administration - Reports / Monitors,Heartscope Victoria,Melbourne Eastern Suburbs VIC,"Downloading data from monitors (Sleep study, b...",NaN
3,Data Analyst,Hello Sunday Morning,Sydney NSW,Classify and reclassify highly sensitive data;...,"$70,000 - $85,000 a year"
4,Data Analyst,Rio Tinto,Perth WA,A Mining/Processing/Marketing/Data Science or ...,NaN

In [5]:
job_data.shape

(975, 5)